@page "/"
@using System.Text.Json;
@using static System.Net.WebRequestMethods;

@inject HttpClient Http

@code {
    string json = "[]";
    string firstPixelRGBA = "";
    TextureMetadata[] textureData = new TextureMetadata[0];

    TextureMetadata[,]? outputTextures = null;
    int outputRows = 0;
    int outputColumns = 0;

    protected override async Task OnInitializedAsync()
    {
        var path = "images/tex_metadata.json";
        string json = await Http.GetStringAsync(path);
        textureData = JsonSerializer.Deserialize<TextureMetadata[]>(json) ?? new TextureMetadata[0];
    }

    private void ButtonClicked()
    {
        Console.WriteLine("hello button");
    }

    private void SelectedFileChanged(InputFileChangeEventArgs args)
    {
        Console.WriteLine($"File Selected: {args.File.Name} ||| is: {args.File.ContentType}");
        ReadFile(args.File.OpenReadStream());
    }

    private async void ReadFile(Stream stream)
    {
        try
        {
            using Image<Rgba32> img = await Image.LoadAsync<Rgba32>(stream);
            Console.WriteLine($"Read the file as image: {img.ToString()}");
            var px = img[0, 0];

            if(img.Width > 128 || img.Height > 128)
            {
                var scaleFactor = 128f / Math.Max(img.Width, img.Height);
                img.Mutate(x => x.Resize((int)(img.Width * scaleFactor), (int)(img.Width * scaleFactor)));
            }
            Console.WriteLine($"Resized image to {img.ToString()}");
            outputColumns = img.Width;
            outputRows = img.Height;
            var buffer = new TextureMetadata[outputColumns, outputRows];
            for(int x = 0; x < outputColumns; x++)
            {
                for(int y = 0; y < outputRows; y++)
                {
                    buffer[x, y] = FindBestMatchingTexture(img[x, y]);
                }
            }
            Console.WriteLine("Done processing image.");
            outputTextures = buffer;
            img.Dispose();
            this.StateHasChanged();
        }
        catch(Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private TextureMetadata FindBestMatchingTexture(Rgba32 pixel)
    {
        RGB col = new() { r = pixel.R, g = pixel.G, b = pixel.B };
        return textureData.OrderBy(x => x.averageRGB.RGBDistance(col)).First();
    }
}
<style>
    .mc_block {
        width: 16px;
        height: 16px;
        max-height: 16px;
        line-height: 10px;
        margin: 0;
        border: none;
        padding: 0;
    }
    .mc_row {
        height: 16px;
        max-height: 16px;
        line-height: 16px;
        margin: 0;
        padding: 0;
        border: none;
    }
</style>
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button @onclick="ButtonClicked">
    Hello Button
    <!--<Tooltip Placement="TooltipPlacement.Top" Title="Block"> tooltip </Tooltip>Hello There!-->
</button>

<InputFile OnChange="SelectedFileChanged"></InputFile> 

@if(outputTextures != null)
{
    <div>Output texture is not null here</div>
    <table>
        <thead></thead>
        @for(int row = 0; row < outputRows; row++)
        {
            <tr class="mc_row">
            @for(int column = 0; column < outputColumns; column ++)
            {
                <td class="mc_block">
                    <img src="images/mc_textures/@outputTextures[column, row].fileName" class="mc_block" />
                    
                </td>
            }
            </tr>
        }
    </table>
}

<!-- take this out for now.
<table>
    <thead>
        <tr>
            <th scope="col">Texture</th>
            <th scope="col">Block</th>
            <th scope="col">RGB</th>
            <th scope="col">Hue V</th>
            <th scope="col">Sat V</th>
            <th scope="col">Sat A</th>
            <th scope="col">Val V</th>
        </tr>
    </thead>
    @@foreach (var entry in textureData)
    {
        <tr>
            <td><img src="images/mc_textures/@@entry.fileName" /></td>
            <td>@@entry.blockName</td>
            <td style="background-color: @@entry.averageRGB.AsHexString()">@@entry.averageRGB</td>
            <td>@@entry.hueVariance</td>
            <td>@@entry.saturationVariance</td>
            <td>@@entry.averageSaturation</td>
            <td>@@entry.valueVariance</td>
        </tr>
    }
</table>
-->
