@inherits LayoutComponentBase

<MudThemeProvider />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Primary" Href="https://github.com/Toreole/Img2Mc" Target="_blank"></MudIconButton>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
